body {
    background-color: darkgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.calculator-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: gray;
    width: 50vh;
    height: 60vh;
}

.display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
    height: 20%;
    width: 90%;
}

.displayBox {
    width: 100%;
    height: 40%;
    text-align: right;
    font-size: calc(1vw + 1vh);

}

.buttons {
    display: flex;
    height: 70%;
    width: 90%;
}

.numbers {
    display: flex;
    background-color: gray;
    width: 75%;
    flex-wrap: wrap;
}

.operators {
    display: flex;
    background-color: black;
    width: 25%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.operator {
    width: 50%;
    height: 10%;
}



button {
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.number {
    width: 25%;
    height: 60%;
}

.row {
    display: flex;
    height: 25%;
    width: 100%;
    justify-content: space-around;
    align-items: center;

}